<div class="container-fluid">
    <div id="intro" class="row">
        <h1 class="title">SOBRE NÓS</h1>
        <div id="timeline" class="row">
            <div class="imgabout">
                <h5 id="textIntro" style="color: #fff;">Queremos com este breve relato fazer uma localização histórica
                    retomando o fio condutor
                    que vem sendo
                    tecido por nós hoje mas que teve início há 65 anos atrás.
                </h5>
            </div>
        </div>
    </div>
    <div id="desenrolar1" class="row">
        <div class="col"><img id="imgconstru" src="/assets/images/construcao.jpg" alt="igreja"></div>
        <div class="col">
            <p id="textconstru">Começou em 1942 com a doação do terreno pela família Araújo foi iniciado a construção da
                IGREJA SAGRADA FAMÍLIA
                (tendo sido concluída em 1950), somos a comunidade <strong>mais antiga desta localidade!</strong></p>
        </div>
    </div>
    <div id="mencoes" class="row">
        <p>Gostaríamos claro de fazer as devidas menções as familias pioneiras <strong>
                FAMILIA TULESKI, LIPINSKI, CURSAVA, HEY, BISCAIS, KIMIESCHIK, KURRENECH, HABROSPE, ROCHA, KOPS. YUNG,
                FERREIRA, HIET, MORO,
                TODESCHINI, CIDRAL E ARAÚJO!
            </strong></p>
    </div>
    <div id="desenrolar2" class="row">
        <div class="col" style="text-align: center; align-items: center; display: flex; margin: 12px 12px 5px 5px;">
            <p>Tivemos muitos benfeitores entre eles <strong>ADRIANO TODESCHINI</strong> este
                doou o ÓRGÃO e muitas outras contribuições para a igreja, sendo que <strong>Sr.AFONSO TULESKI</strong>
                fez o curso de piano em Araucária para tocar o órgão nas missas e casamentos, como também a
                <strong>Sra.LEONILDA LEPINSKI</strong>
                tinha um lindo coral composto de homens e mulheres.
            </p>
        </div>
        <div class="col"><img id="imgfest" src="/assets/images/notas-musicais.jpg" alt="festas"></div>
    </div>

    <div id="presida" class="row">
        <div class="row justify-content-center" id="maincards">
            <div class="col-12 col-sm-8 col-lg-6">
            </div>
            <div id="carouselExample" style="background-color: #111111;" class="carousel slide">
                <div class="presida section_heading text-center wow fadeInUp" data-wow-delay="0.2s"
                    style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                    <h3>Queremos lembrar também os primeiros <strong>PRESIDENTES DA COMUNIDADE</strong></h3>
                    <div class="line"></div>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <section class="section-contact">
                            <div class="contact-card">
                                <div class="card-image">
                                    <img src="/assets/images/frei.png" alt="frei imagem">
                                    <h2>Izidoro Zaramela</h2>
                                    <h5>Primeiro Presidente</h5>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="carousel-item">
                        <section class="section-contact">
                            <div class="contact-card">
                                <div class="card-image">
                                    <img src="/assets/images/frei.png" alt="frei imagem">
                                    <h2>Adriano Todeschini</h2>
                                    <h5>Familia Todeschini</h5>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="carousel-item">
                        <section class="section-contact">
                            <div class="contact-card">
                                <div class="card-image">
                                    <img src="/assets/images/frei.png" alt="frei imagem">
                                    <h2>Alexandre Lipinski</h2>
                                    <h5>Familia Lipinski</h5>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="carousel-item">
                        <section class="section-contact">
                            <div class="contact-card">
                                <div class="card-image">
                                    <img src="/assets/images/frei.png" alt="frei imagem">
                                    <h2>Stanislau Chiornik</h2>
                                    <h5>Familia Chiornik</h5>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="carousel-item">
                        <section class="section-contact">
                            <div class="contact-card">
                                <div class="card-image">
                                    <img src="/assets/images/frei.png" alt="frei imagem">
                                    <h2>Cizismundo Correnek</h2>
                                    <h5>Familia Correnek</h5>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="carousel-item">
                        <section class="section-contact">
                            <div class="contact-card">
                                <div class="card-image">
                                    <img src="/assets/images/frei.png" alt="frei imagem">
                                    <h2>Armando Yung</h2>
                                    <h5>Familia Yung</h5>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>

    </div>
    <div class="row" id="desenrolar1" style="height: 80vh;">
        <div class="col">
            <img id="imgconstru" src="assets/images/igrejsconstru.jpg" alt="">
        </div>
        <div class="col" style="text-align: center; align-items: center; display: flex; margin: 12px 12px 5px 5px;">
            <p>Sendo a <strong>Familia TULESKI</strong> que assumiu a coordenação por vários anos. Nesta época a
                comunidade
                pertencia a
                <strong>PARÓQUIA DE SÃO MIGUEL - TOMAZ COELHO</strong> e em 1968 veio a pertencer para a
                <strong>PAROQUIA
                    NOSSA SENHORA
                    DA LUZ</strong>. Em 1987 devido ao seu mau estado ocasionado pelo tempo e sendo bem pequena em vista
                ao
                seu número
                de fiéis da época a igreja foi demolida para dar lugar para nova construção que teve inicio em 1988!
            </p>
        </div>
    </div>
    <div class="row" id="desenrolar4">
        <div class="col" style="text-align: center; align-items: center; display: flex; margin: 12px 12px 5px 5px;">
            <p id="textconstru">Com grande esforço de todas as lideranças, incentivo e orações de <strong>FREI MIGUEL E FREI
                    PASCOAL</strong>
                foram realizadas diversas festas pelos familiares do <strong>FREI PASCOAL</strong>, e com o dinheiro
                arrecadado
                destes eventos e doações se tornamos o que somos <strong>HOJE!</strong></p>
        </div>
        <div class="col" style="justify-content: center; display: flex;">
            <img src="/assets/images/festigreja.png" style="width: 40%; " id="imgconstru" alt="imgfestas">
        </div>
    </div>

    <div class="row" id="final"><p>Esta é uma pequena parte da Historia da <strong>COMUNIDADE SAGRADA FAMILIA</strong>. E
        você pode fazer ou continuar fazendo parte desta bela história semeando Esperança de um novo amanhã!</p></div>

    <h1 style="display: flex; justify-content: center;">PAZ E BEM!</h1>
</div>