<div style="background-color: #111111;" class="container-fluid footer">
    <div class="row justify-content-center">
        <div class="col-md-12 text-center">
            <h2 class="footer-heading"><a class="logo" href="#" ><strong>CarvalhoDeV.com</strong></a></h2>
            <p class="menu">
                <a href="#" class="blog">Meu Blog</a>
            </p>
            <ul style="font-family:'Bootstrap-icons';" class="ftco-footer-social p-0">
                <a id="social" href="https://www.linkedin.com/in/leandro-carvalho-09481121b/" target="_blank"><i class="bi bi-linkedin icon-100" style="font-size: 50px;"></i></a>,
                 <a id="social" href="https://github.com/LeandroCarvalho2022" target="_blank"> <i class="bi bi-github icon-100" style="font-size: 50px;"></i> </a>
                
            </ul>
            <ul style="font-family: 'Bootstrap-icons';">

            </ul>
        </div>
        <div id="copy" class="row mt-5">
            <div class="col-md-12 text-center">
                <p style="font-family: 'Bootstrap-icons'; color: aliceblue;">
                    Copyright © Todos os direitos reservados | Projeto voluntário feito com &#xF417; por <strong>Leandro Carvalho</strong></p>
            </div>
        </div>
    </div>
</div>