<nav style="padding: 0;" class="navbar navbar-expand-lg bg-body-tertiary">
    <div style="background-color: #111111; height: 100%;" class="container-fluid">
      <a class="navbar-brand" href="#"><img src="/assets/images/favicon.jpg" style="width: 50px; border-radius: 50px;" alt="texte"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a style="color: orangered;" class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="historia">História</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#bd">Doe</a>
          </li>
        </ul>
        <span class="navbar-text">
          Bem vindo a Paróquia Nossa Senhora da Luz, é ótimo ter voce aqui!
        </span>
      </div>
    </div>
  </nav>
